<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap-icons/bootstrap-icons.min.css" rel="stylesheet">
    
</head>
<body class="d-flex flex-column h-100 bg-dark text-white fw-semibold">
    
    <div class="row justify-content-center">
        <div class="col col-md-10">
            <div class="p-5 text-center">
                <div class="container text-center">
                    <h1 class="fw-bold">ArxivDigest</h1>
                </div>
            </div>
            <div class="text-bg-secondary">
                <div class="py-3 text-center">
                    <div class="container text-center">
                        <h2 class="fw-bold">Latest Computer Science Paper</h2>
                    </div>
                </div>
            </div>
            <div class="p-3">
                <div class="container">
                    <p class="text-dark-emphasis fw-bold">January 5, 2024</p>
                    <h2 class="fw-bold">Lorem ipsum dolor sit amet, consectetur.</h2>
                    <p class="text-dark-emphasis fw-bold">By Oseni Ayomide</p>
                    <p class="fw-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quidem nihil minus cumque obcaecati pariatur nisi provident consequatur voluptatem sunt maiores repudiandae perferendis, alias assumenda blanditiis impedit ipsa atque ea quo sit unde debitis error.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="#" class="btn btn-light text-black btn-lg rounded-0">VIEW</a>
                        <a href="#" class="btn btn-light text-black btn-lg rounded-0">PDF</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="p-3">
                <div class="container">
                    <p class="text-dark-emphasis fw-bold">January 5, 2024</p>
                    <h2 class="fw-bold">Lorem ipsum dolor sit amet, consectetur.</h2>
                    <p class="text-dark-emphasis fw-bold">By Oseni Ayomide</p>
                    <p class="fw-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quidem nihil minus cumque obcaecati pariatur nisi provident consequatur voluptatem sunt maiores repudiandae perferendis, alias assumenda blanditiis impedit ipsa atque ea quo sit unde debitis error.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="#" class="btn btn-light text-black btn-lg rounded-0">VIEW</a>
                        <a href="#" class="btn btn-light text-black btn-lg rounded-0">PDF</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="p-3">
                <div class="container">
                    <p class="text-dark-emphasis fw-bold">January 5, 2024</p>
                    <h2 class="fw-bold">Lorem ipsum dolor sit amet, consectetur.</h2>
                    <p class="text-dark-emphasis fw-bold">By Oseni Ayomide</p>
                    <p class="fw-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quidem nihil minus cumque obcaecati pariatur nisi provident consequatur voluptatem sunt maiores repudiandae perferendis, alias assumenda blanditiis impedit ipsa atque ea quo sit unde debitis error.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="#" class="btn btn-light text-black btn-lg rounded-0">VIEW</a>
                        <a href="#" class="btn btn-light text-black btn-lg rounded-0">PDF</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row justify-content-center mt-auto bg-black text-center">
      <footer class="col-md-9 my-4">
        <h5 class="text-light text-center py-3">ArxivDigest</h5>
        <div class="d-flex justify-content-center mb-3">
            <span><i class="bi bi-twitter mx-2"></i></span>
            <span><i class="bi bi-rss mx-2"></i></span>
            <span><i class="bi bi-youtube mx-2"></i></span>
            <span><i class="bi bi-spotify mx-2"></i></span>
        </div>
        <a href="#" class="px-2">Unsubscribe</a>
      </footer>
    </div>
    
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>