{% extends "base.html" %}
{% load static %}

{% block title %}Archive{% endblock %}

{% block custom_styles %}
<link href="{% static 'breadcrumbs.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="my-3 text-start">
    <h2 class="my-2">Archive</h2>
    <div class="py-2">
        <p class="text-muted text-uppercase">JAN 15, 2024</p>
        <h4>#120: The Lord's Mayor Show</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda.</p>
    </div>
    <div class="py-2">
        <p class="text-muted">JAN 15, 2024</p>
        <h4>#120: The Lord's Mayor Show</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda.</p>
    </div>
    <div class="py-2">
        <p class="text-muted">JAN 15, 2024</p>
        <h4>#120: The Lord's Mayor Show</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda.</p>
    </div>
    <div class="py-2">
        <p class="text-muted">JAN 15, 2024</p>
        <h4>#120: The Lord's Mayor Show</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda.</p>
    </div>
    <div class="py-2">
        <p class="text-muted">JAN 15, 2024</p>
        <h4>#120: The Lord's Mayor Show</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda.</p>
    </div>
    <div class="py-2">
        <p class="text-muted">JAN 15, 2024</p>
        <h4>#120: The Lord's Mayor Show</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda.</p>
    </div>
    <div class="py-2">
        <p class="text-muted">JAN 15, 2024</p>
        <h4>#120: The Lord's Mayor Show</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda.</p>
    </div>
</div>
{% endblock %}