{% extends "base.html" %}
{% load static %}

{% block title %}Archive{% endblock %}

{% block custom_styles %}
<link href="{% static 'breadcrumbs.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="my-3">
    <h2 class="my-3">Categories</h2>
    <div id="categories" class="text-start">
        <div class="d-flex flex-column">
            {% for category in categories %}
            <a href="{{ category.get_absolute_url }}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                <div class="border rounded-5 p-4 bg-light text-dark mb-3">
                    {{ category.name|title }}</div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}