{% extends "base.html" %}
{% load static %}

{% block title %}Thank you for subscribing{% endblock %}

{% block content %}
<div class="my-3">
    <p class="fs-3">Thanks for subscribing to our newsletter.</p>
    {% if send_verification %}
    <p>You should receive a confirmation email soon.</p>
    <div class="my-3">
        <a href="{% url 'newsletter:subscribe' %}" class="btn btn-light text-black">Go Home</a>
    </div>
    {% else %}
    <p>You missed a lot. Wanna catch up?</p>
    <div class="mt-3">
        <a href="{% url 'newsletter:archive' %}" class="btn btn-light text-black">View Archive</a>
    </div>
    {% endif %}
</div>
{% endblock %}