{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="auto">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - Digest Newsletter</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'cover.css' %}" rel="stylesheet">
    
    {% block custom_styles %}
    {% endblock %}
    
</head>
<body class="d-flex h-100 text-bg-dark">
    <div class="container d-flex w-100 h-100 py-3 flex-column">
        
        <header class="mb-3 mx-auto text-center">
            <div>
                <h1 class="float-md-center mb-0 fw-bold">Digest</h1>
            </div>
        </header>
    
        <main>
            {% block content %}
            {% endblock %}
        </main>
        

        <footer class="mt-auto text-white-50 text-center">
            <a href="https://getbootstrap.com/" class="text-white">Privacy policy</a>
        </footer>
    </div>
    
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>